
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Customer</h2>

<form>
    <label for="Name">User Name:</label><br>
    <input type="text" id="Name" name="Name"><br>

    <label for="ContactNum">User Name:</label><br>
    <input type="text" id="ContactNum" name="ContactNum"><br>

    <label for="Email">User Name:</label><br>
    <input type="email" id="Email" name="Email"><br>

    <label for="Address">User Name:</label><br>
    <input type="text" id="Address" name="Address"><br>

    

    <input type="submit" value="Submit" id="submit">
</form>
